extends ./template.jade
block contain
	.bg
		img(src="img/bg.jpg")
		.bg_mask
	.content
		.fire_bg
			img(src="img/fire_bg.png")
		.index_part
			.i_pd
				img(src="img/i_pd.png")
			.p5
				img(src="img/p5.png")
			.p1
				img(src="img/p1.png")
			.p2
				img(src="img/p2.png")
			.p3
				img(src="img/p3.png")
			.p4
				img(src="img/p4.png")
		.index_part
			.t1_1
				img(src="img/t1_1.png")
			.t2
				img(src="img/t2.png")
		.index_part
			.t1_2
				img(src="img/t1_2.png")
			.t3
				img(src="img/t3.png")
		.login(onclick="alert('活動登錄日期已結束，謝謝您的熱情支持');")
			.login_l
				img(src="img/login_l.png")
			.login_btn
				.btn_o
					img(src="img/btn_o.png")
			.login_r
				img(src="img/login_r.png")
block script
	<script>var page = 'index';</script>