extends ./template.jade
block contain
  .bg(style="position: absolute")
    img(src="img/bg2.jpg")
  .content2
    .title
      img(src="img/title.png")
    .rule
      .people.unvisible
        img(src="img/p5.png")
        .rule_pd
          img(src="img/rule_pd.png")
      ul.noneT
        li.colorY &#27963;&#21205;&#30331;&#37636;&#26399;&#38291;
        li 2015 / 4 / 1 &#33267; 2015 / 5 / 4 PM23:59&#65292;&#30331;&#37636;&#26178;&#38291;&#20197;&#27963;&#21205;&#20027;&#27231;&#19978;&#26178;&#38291;&#28858;&#28310;
        li.colorY &#26377;&#25928;&#30332;&#31080;&#26399;&#38291;
        li 2015 / 4 / 1 &#33267; 2015 / 5 / 4
        li.colorY &#25277;&#29518;&#26399;&#38291;
        li 2015 / 4 / 10 - 2015 / 5 / 5
        li.colorY &#27963;&#21205;&#27231;&#22411;
        li Aspire V Nitro&#160;&#25351;&#23450;&#27231;&#31278;
        li VN7-571G-53QL
        li VN7-591G-58M9
        li VN7-591G-505B
        li VN7-591G-736P
        li VN7-591G-74JF
        li VN7-591G-76HK
        li VN7-791G-513J
        li VN7-791G-76NM
        li VN7-791G-78RF
        li.colorY &#27963;&#21205;&#36774;&#27861;
        li
          | &#27963;&#21205;&#26399;&#38291;&#20839;&#36092;&#36023;&#26044;&#27963;&#21205;&#26399;&#38291;&#20839;&#36092;&#36023;Aspire V Nitro &#25645;&#36617;NVIDIA GeForce GTX 9&#31995;&#21015;&#39023;&#21345;&#65292;&#30331;&#37636;&#22825;&#22825;&#25277;
          br
          .bgY &#32005;&#40845;-&#36650;&#36852; &#38647;&#23556;&#38651;&#31478;&#28369;&#40736;
          | 10&#21517;! (&#20729;&#20540;&#26032;&#21488;&#24163;1,299&#20803;)
        li.colorY
          | &#30331;&#37636;&#27493;&#39519;
          ul.trangleT
            li Step 1   &#22635;&#23531;&#36039;&#26009; ( &#35531;&#22635;&#23531;&#27491;&#30906;&#36039;&#26009;&#65292;&#20197;&#21033;&#36104;&#29518;&#36890;&#30693; )
            li Step 2   &#36865;&#20986;&#36039;&#26009;&#65281;
            li
              | Step 3   &#35531;&#33267; E-Mail &#20449;&#31665;&#30906;&#35469;&#26159;&#21542;&#25910;&#21040;&#30331;&#37636;&#25104;&#21151;&#20449;&#20989; ( &#22914;&#26377;&#30331;&#37636;&#25104;&#21151;&#33287;&#21542;&#30097;&#24942;&#30332;&#29983;&#26178;&#65292;&#25105;&#20497;&#23559;&#20197;&#35442;&#30906;&#35469;&#20449;&#28858;&#28310;&#65292;&#35531;&#25552;&#20379;&#26377;&#25928;&#20449;&#31665;&#65292;&#20006;&#30906;&#35469;&#22403;&#22334;&#37109;&#20214;&#12290;&#22914;&#22240;&#28431;&#20449;&#25110;&#20854;&#20182;&#20449;&#31665;&#21839;&#38988;&#32780;&#23566;&#33268;&#26410;&#25910;&#21040;&#30906;&#35469;&#20449;&#65292;&#21063;&#35222;&#21516;&#26410;&#30331;&#37636;&#12290;)
        li.colorY
          | &#29518;&#38917;&#33287;&#36104;&#29518;&#26041;&#24335;
          ul.trangleT
            li &#32005;&#40845;-&#36650;&#36852; &#38647;&#23556;&#38651;&#31478;&#28369;&#40736; (&#20729;&#20540;&#26032;&#21488;&#24163;1,299&#20803;)-&#27599;&#26085;10&#21517;
            li
              | &#26412;&#27963;&#21205;&#21934;&#20301;&#23559;&#20197; e-mail &#36890;&#30693;&#20013;&#29518;&#20154;&#65292;&#20006;&#21578;&#30693;&#20812;&#29518;&#20107;&#23452;&#65292;&#35531;&#21209;&#24517;&#27491;&#30906;&#30331;&#37636;&#24744;&#30340;&#36039;&#26009;&#20006;&#20445;&#30041;&#36092;&#36023;&#35657;&#26126; ( &#30332;&#31080;&#12289;&#25910;&#25818;&#31561; )&#65292;&#24977;&#36523;&#20998;&#35657;&#26126; + &#36092;&#36023;&#35657;&#26126;&#20812;&#25563;&#29518;&#38917;&#65292;&#22914;&#26410;&#25910;&#21040; Mail &#25110;&#28961;&#27861;&#25552;&#20379; &#8221;&#36092;&#36023;&#35657;&#26126;&#24433;&#26412;&#8221; &#23566;&#33268;&#28961;&#27861;&#36914;&#34892;&#20812;&#29518;&#31243;&#24207;&#65292;&#35222;&#21516;&#25918;&#26820;&#24471;&#29518;&#27402;&#21033;&#12290;&#36092;&#36023;&#35657;&#26126;&#27491;&#26412;&#20063;&#35531;&#21209;&#24517;&#20445;&#30041;&#33267;&#38936;&#29518;&#65292;&#20197;&#20379;&#26412;&#20844;&#21496;&#38568;&#27231;&#36914;&#34892;&#35079;&#26597;&#65292;&#22914;&#35079;&#26597;&#26178;&#28961;&#27861;&#25552;&#20379;&#36092;&#36023;&#35657;&#26126;&#27491;&#26412;&#65292;&#23559;&#34987;&#21462;&#28040;&#21443;&#21152;&#25110;&#24471;&#29518;&#36039;&#26684;&#12290;
            li
              | &#20013;&#29518;&#32773;&#35531;&#20381;&#29031;&#36890;&#30693;&#20449;&#65292;&#20197;&#25499;&#34399;&#26044;7&#26085;&#20839;&#21069;&#23492;&#22238;&#20013;&#29518;&#22238;&#20989;&#21450;&#30456;&#38364;&#36039;&#26009;&#32102;&#27963;&#21205;&#23567;&#32068;&#65292;&#20197;&#20415;&#26680;&#23565;&#20013;&#29518;&#36039;&#26684;&#65292;&#37109;&#23492;&#26178;&#38291;&#20197;&#37109;&#25139;&#28858;&#24977;&#65292;&#33509;&#36926;&#26399;&#23492;&#22238;&#36890;&#30693;&#20449;&#20989;&#25110;&#36986;&#22833;&#35222;&#21516;&#33258;&#21205;&#25918;&#26820;&#20013;&#29518;&#27402;&#30410;&#65292;&#27963;&#21205;&#23567;&#32068;&#19981;&#20877;&#36914;&#34892;&#36958;&#35036;&#12290;&#22914;&#26410;&#25910;&#21040; Mail &#25110;&#28961;&#27861;&#25552;&#20379; &#8221;&#36092;&#36023;&#35657;&#26126;&#24433;&#26412;&#8221; &#23566;&#33268;&#28961;&#27861;&#36914;&#34892;&#20812;&#29518;&#31243;&#24207;&#65292;&#35222;&#21516;&#25918;&#26820;&#24471;&#29518;&#27402;&#21033;&#12290;
            li &#25910;&#21040;&#20013;&#29518;&#20154;&#22238;&#20989;&#30906;&#35469;&#65292;&#27963;&#21205;&#23567;&#32068;&#23529;&#26680;&#20013;&#29518;&#36039;&#26684;&#24460;&#65292;&#20877;&#21478;&#34892;&#36890;&#30693;&#36104;&#21697;&#23492;&#36865;&#32048;&#31680;&#12290; 
            li &#27963;&#21205;&#29518;&#38917;&#19981;&#24471;&#20812;&#25563;&#25104;&#29694;&#37329;&#25110;&#20854;&#23427;&#29986;&#21697;&#65292;&#23439;&#30849;&#20445;&#30041;&#36104;&#21697;&#35722;&#26356;&#20462;&#27491;&#31561;&#27402;&#21033;&#12290;
        li.colorY &#24471;&#29518;&#21517;&#21934;&#20844;&#24067;
        li &#24471;&#29518;&#21517;&#21934;&#23559;&#26044;2015 / 4 / 10 - 2015 / 5 / 5 &#27599;&#26085;&#20844;&#24067;&#33267;&#26412;&#27963;&#21205;&#32178;&#31449;&#12290;
        li.colorY
          | &#27880;&#24847;&#20107;&#38917;
          ol.decT
            li &#26412;&#27963;&#21205;&#21443;&#21152;&#23565;&#35937;&#20677;&#38480;&#23621;&#20303;&#26044;&#21488;&#12289;&#28558;&#12289;&#37329;&#12289;&#39340;&#22320;&#21312;&#32773;&#12290;
            li
              | &#26412;&#27963;&#21205;&#38480;&#26044;2015 / 4 / 1 (&#19977;) - 2015 / 5 / 4 (&#19968;)    &#26399;&#38291;&#23436;&#25104;&#30331;&#37636;&#65292;&#26085;&#26399;&#20197;&#30331;&#37636;&#26412;&#27963;&#21205;&#20027;&#27231;&#20043;&#26178;&#38291;&#28858;&#28310;&#12290;&#27599;&#20491;&#29986;&#21697;&#24207;&#34399;&#20677;&#38480;&#30331;&#20837;&#36104;&#29518;&#27963;&#21205;&#19968;&#27425;&#65292;&#20006;&#38920;&#26044;2015 / 5 / 4 (&#19968;)&#65292;23:59&#21069;&#23436;&#25104;&#30331;&#37636;&#65292;&#20006;&#26044;&#25351;&#23450;&#26178;&#38291;&#21069;&#23436;&#25104;&#30456;&#38364;&#36039;&#26009;&#22238;&#20659;&#65292;&#22987;&#20139;&#26377;&#36104;&#29518;&#36039;&#26684;&#65292;&#30331;&#37636;&#38918;&#24207;&#21450;&#26178;&#38291;&#20197;&#26412;&#27963;&#21205;&#20027;&#27231;&#19978;&#26178;&#38291;&#35469;&#23450;&#28858;&#28310;&#12290;
            li
              | &#21443;&#21152;&#32773;&#20445;&#35657;&#25152;&#26377;&#22635;&#23531;&#25110;&#25552;&#20986;&#20043;&#36039;&#26009;&#22343;&#23660;&#23526;&#19988;&#27491;&#30906;&#65292;&#19981;&#24471;&#20197;&#31532;&#19977;&#20154;&#21517;&#32681;&#21443;&#36093;&#25110;&#20882;&#29992;&#31532;&#19977;&#20154;&#20043;&#36039;&#26009;&#65292;&#22914;&#26377;&#19981;&#23526;&#12289;&#19981;&#27491;&#30906;&#25110;&#22635;&#23531;&#19981;&#23436;&#25972;&#20043;&#24773;&#20107;&#65292;&#23559;&#34987;&#21462;&#28040;&#21443;&#21152;&#25110;&#24471;&#29518;&#36039;&#26684;&#12290;
            li
              | &#22914;&#20219;&#20309;&#22240;&#38651;&#33126;&#12289;&#32178;&#36335;&#12289;&#38651;&#35441;&#31561;&#25216;&#34899;&#25110;&#19981;&#21487;&#27512;&#21646;&#36012;&#26044;&#20027;&#36774;&#21934;&#20301; ( &#21363;&#23439;&#30849;&#32929;&#20221;&#26377;&#38480;&#20844;&#21496;&#65292;&#19979;&#31281;&#65306;&#12300;&#23439;&#30849;&#12301;) &#22240;&#32032;&#65292;&#32780;&#20351;&#21443;&#21152;&#32773;&#25152;&#25552;&#20379;&#20043;&#36039;&#26009;&#26377;&#24310;&#36978;&#12289;&#36986;&#22833;&#12289;&#37679;&#35492;&#12289;&#35513;&#35607;&#31561;&#28961;&#27861;&#36774;&#35672;&#20043;&#24773;&#27841;&#65292;&#20027;&#36774;&#21934;&#20301;&#19981;&#36000;&#20219;&#20309;&#27861;&#24459;&#36012;&#20219;&#65292;&#21443;&#21152;&#32773;&#20134;&#19981;&#24471;&#22240;&#27492;&#30064;&#35696;&#25110;&#27714;&#20767;&#12290;
            li
              | &#24471;&#29518;&#20729;&#20540;&#22312;&#26032;&#21488;&#24163;1,000&#20803;&#20197;&#19978;&#32773;&#65292;&#20381;&#20013;&#33775;&#27665;&#22283;&#31237;&#27861;&#30456;&#38364;&#35215;&#23450;&#65292;&#24471;&#29518;&#32773;&#38656;&#20381;&#35215;&#23450;&#22635;&#23531;&#20006;&#32371;&#20132;&#30456;&#38364;&#25910;&#25818;&#65292;&#20006;&#38656;&#33258;&#34892;&#23559;&#36104;&#21697;&#20729;&#20540;&#21015;&#20837;&#20491;&#20154;&#24180;&#24230;&#32156;&#21512;&#25152;&#24471;&#31237;&#30003;&#22577;&#65307;&#21443;&#21152;&#32773;&#22914;&#22240;&#21443;&#21152;&#26412;&#27963;&#21205;&#32780;&#36973;&#21463;&#20219;&#20309;&#25613;&#22833;&#65292;&#20027;&#36774;&#21934;&#20301;&#21450;&#30456;&#38364;&#20225;&#26989;&#12289;&#21729;&#24037;&#21450;&#20195;&#29702;&#21830;&#22343;&#19981;&#36000;&#20219;&#20309;&#36012;&#20219;&#12290;
            li &#26412;&#27963;&#21205;&#29518;&#21697;&#20197;&#20027;&#36774;&#21934;&#20301;&#20844;&#21578;&#28858;&#28310;&#65292;&#22914;&#36935;&#19981;&#21487;&#25239;&#21147;&#20107;&#30001;&#23566;&#33268;&#29518;&#21697;&#20839;&#23481;&#35722;&#26356;&#65292;&#20027;&#36774;&#21934;&#20301;&#26377;&#27402;&#35722;&#26356;&#29518;&#38917;&#20839;&#23481;&#65292;&#24471;&#29518;&#32773;&#19981;&#24471;&#27714;&#20812;&#29694;&#25110;&#36681;&#25563;&#20854;&#20182;&#21830;&#21697;&#12290;
            li
              | &#26412;&#27963;&#21205;&#36104;&#36865;&#20043;&#29518;&#38917;&#20197;&#23526;&#29289;&#28858;&#28310;&#65292;&#24471;&#29518;&#32773;&#19981;&#24471;&#35201;&#27714;&#25240;&#25563;&#29694;&#37329;&#25110;&#36681;&#25563;&#20854;&#23427;&#31561;&#20540;&#21830;&#21697;&#65292;&#20134;&#24471;&#29518;&#32773;&#19981;&#24471;&#36681;&#35731;&#25110;&#29518;&#38917;&#20104;&#20182;&#20154;&#65292;&#22914;&#36935;&#19981;&#21487;&#25239;&#21147;&#20107;&#30001;&#23566;&#33268;&#29518;&#21697;&#20839;&#23481;&#35722;&#26356;&#65292;&#20027;&#36774;&#21934;&#20301;&#26377;&#27402;&#35722;&#26356;&#29518;&#38917;&#20839;&#23481;&#65292;&#24471;&#29518;&#32773;&#19981;&#24471;&#27714;&#20812;&#29694;&#25110;&#36681;&#25563;&#20854;&#20182;&#21830;&#21697;&#12290;
            li &#21443;&#21152;&#32773;&#22914;&#22240;&#21443;&#21152;&#26412;&#27963;&#21205;&#32780;&#36973;&#21463;&#20219;&#20309;&#25613;&#22833;&#65292;&#20027;&#36774;&#21934;&#20301;&#21450;&#30456;&#38364;&#20225;&#26989;&#12289;&#21729;&#24037;&#21450;&#20195;&#29702;&#21830;&#22343;&#19981;&#36000;&#20219;&#20309;&#36012;&#20219;&#12290;
            li
              | &#26412;&#27963;&#21205;&#36774;&#27861;&#21450;&#30456;&#38364;&#27880;&#24847;&#20107;&#38917;&#22343;&#36617;&#26126;&#26044;&#27963;&#21205;&#32178;&#38913;&#20013;&#65292;&#21443;&#21152;&#32773;&#26044;&#21443;&#21152;&#26412;&#27963;&#21205;&#20043;&#21516;&#26178;&#65292;&#21363;&#35222;&#28858;&#24050;&#35443;&#38321;&#20006;&#21516;&#24847;&#25509;&#21463;&#26412;&#27963;&#21205;&#36774;&#27861;&#21450;&#30456;&#38364;&#27880;&#24847;&#20107;&#38917;&#20043;&#35215;&#31684;&#65292;&#22914;&#26377;&#36949;&#21453;&#26412;&#27963;&#21205;&#36774;&#27861;&#21450;&#30456;&#38364;&#27880;&#24847;&#20107;&#38917;&#32773;&#65292;&#20027;&#36774;&#21934;&#20301;&#23565;&#26044;&#20219;&#20309;&#36949;&#21453;&#26412;&#27963;&#21205;&#20043;&#34892;&#28858;&#20445;&#30041;&#27861;&#24459;&#36861;&#35380;&#27402;&#12290;
            li &#22196;&#31105;&#20197;&#21508;&#31278;&#26041;&#24335;&#20405;&#20837;&#12289;&#20316;&#20551;&#12289;&#24178;&#25854;&#12289;&#30772;&#22750;&#27963;&#21205;&#32178;&#31449;&#20043;&#21151;&#33021;&#25110;&#30331;&#37636;&#36939;&#20316;&#65292;&#33509;&#28041;&#21450;&#36949;&#27861;&#24773;&#20107;&#65292;&#23439;&#30849;&#24471;&#20381;&#27861;&#24459;&#36861;&#35380;&#12290;
            li
              | &#26412;&#27963;&#21205;&#36774;&#27861;&#22914;&#26377;&#26410;&#30433;&#20107;&#23452;&#65292;&#20027;&#36774;&#21934;&#20301;&#20139;&#26377;&#22686;&#35330;&#12289;&#35722;&#26356;&#12289;&#21034;&#38500;&#25110;&#32066;&#27490;&#27963;&#21205;&#20839;&#23481;&#29518;&#38917;&#31561;&#27963;&#21205;&#20839;&#23481;&#20043;&#27402;&#21033;&#65292;&#20462;&#25913;&#35338;&#24687;&#23559;&#26044;&#26412;&#32178;&#31449;&#19978;&#20844;&#20296;&#65292;&#19981;&#38920;&#21478;&#34892;&#36890;&#30693;&#12290;&#20462;&#25913;&#25110;&#35722;&#26356;&#24460;&#30340;&#27963;&#21205;&#20839;&#23481;&#21450;&#29518;&#38917;&#31561;&#26781;&#27454;&#33509;&#22312;&#32178;&#38913;&#19978;&#20844;&#20296;&#65292;&#21363;&#26377;&#25928;&#26367;&#20195;&#20808;&#21069;&#26412;&#27425;&#27963;&#21205;&#32178;&#31449;&#33287;&#21443;&#21152;&#32773;&#27963;&#21205;&#20839;&#23481;&#31561;&#26781;&#27454;&#25110;&#21332;&#35696;&#12290;&#21443;&#21152;&#32773;&#25033;&#38568;&#26178;&#26597;&#38321;&#26368;&#26032;&#29256;&#20043;&#27963;&#21205;&#20839;&#23481;&#26781;&#27454;&#12290;
            li
              | &#23565;&#27963;&#21205;&#22914;&#26377;&#20219;&#20309;&#30097;&#21839;&#65292;&#35531; E-mail &#33267;
              a(href="mailto:2015acerevent@gmail.com", style="background-color:#fcd707;")  2015acerevent@gmail.com 
              | &#23559;&#30001;&#23560;&#20154;&#22238;&#35206;&#12290;
            li &#26412;&#27963;&#21205;&#36774;&#27861;&#33509;&#26377;&#26410;&#30433;&#35443;&#32048;&#20107;&#23452;&#65292;Acer&#20445;&#30041;&#26368;&#32066;&#26680;&#20934;&#33287;&#21542;&#21450;&#27963;&#21205;&#35722;&#26356;/&#20462;&#25913;&#25110;&#32066;&#27490;&#26412;&#26696;&#20043;&#27402;&#21147;&#65292;&#24661;&#19981;&#21478;&#34892;&#36890;&#30693;&#12290;
            li &#23439;&#30849;&#32929;&#20221;&#26377;&#38480;&#20844;&#21496;&#12289;&#32147;&#37559;&#21830;&#21450;&#21109;&#30064;&#25976;&#20301;&#21729;&#24037;&#19981;&#24471;&#21443;&#21152;&#27492;&#27425;&#27963;&#21205;&#65292;&#20197;&#31034;&#20844;&#20801;&#12290;

block script
  <script>var page = 'rule';</script>

